@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img/img.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.container h1 { 
    font-size: 36px;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #fff;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}


a {
    color: #ffffff;              
    text-decoration: none;     
}

a:hover {
    color: #ffd700;            
}

.login {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.login:hover {
    background-color: transparent;
    border: 2x solid rgba(255, 255, 255, .2); 
    color: #fff;       
}
.register-link {
    font-size: 14px;
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
    margin: 20px 0 15px;
}
.register-link a{
    text-decoration: none;
    font-weight: 600;
}
.register-link-cadastro {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link-cadastro {
    text-decoration: none;
    color: #0f0e0e;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
}